/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  /*background: url(../images/movies.jpg);*/
  background: url(http://3.bp.blogspot.com/_Lt9FgNveDDo/TMlZvmHhIzI/AAAAAAAAAfU/i7BUnjBOAVE/s1600/background.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
 
.container {
  background: whitesmoke;
  padding: 40px;
  border-radius: 10px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.jumbotron.dark {
  background: black;
}

.jumbotron table > thead > tr > th:nth-child(2){
  width: 25%;
}

.jumbotron table >td{
  text-align: left;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.actors-list{
  max-height: 400px;
  overflow: auto;
}

a.glyphicon.glyphicon-search {
  text-decoration: none;
  font-size: 1.3em;
  word-spacing: -12px;
}
a.moviePoster{
  background: url(http://d3a8mw37cqal2z.cloudfront.net/assets/e6497422f20fa74a240ad385ea4a2ade/images/no-poster-w92.jpg) no-repeat;
  display: block;
}
.backdrop_path{
  background-repeat:no-repeat;
  height: 200px;
  width: 100%;

}