<a class="glyphicon glyphicon-chevron-left backBtn" ng-click="backBtn()"></a>
<section id="trailer">
	<div class="loadingAnim" ng-show="{{isLoading}}"><img src="../images/loading2.gif" alt="Loading"></div>

	<div class="dark" ng-init="getTrailer()">
		<div ng-show="hasTrailer" class="trailerVideo">
			<div my-youtube code="code"></div>
		</div>
		<!-- if no trailer is available try background image of the movie -->
		<div ng-show="!hasTrailer" class="backdrop_path" style="background: url(http://image.tmdb.org/t/p/w396{{backdrop_path}}) no-repeat center">No trailer available</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading"><h3>{{title}}</h3> - {{actorName}} - </div>
		<div class="panel-body text-justify">{{overview}}</div>
		 <!-- List group -->
		<ul class="list-group text-left">
			<li class="list-group-item">Release date: <b><span class="text-warning">{{releaseDate}}</span></b></li>
			<li class="list-group-item"> Also in this movie: 
				<ul class="list2cols">
					<li ng-repeat="actor in cast" class=""> 
						<a href="/#/actor/{{actor.id}}/{{actor.name}}" class="otrherActor" ng-hide='actor.name == actorName' > 
						<img ng-show="actor.profile_path"  src="http://image.tmdb.org/t/p/w45{{actor.profile_path}}" width="24" height="30"> {{actor.name}}</a>
					</li>	
				</ul>
			</li>
			<li class="list-group-item">Movie Website: <a href="{{website}}" target="blank"> {{website}} </a></li>
		</ul>
	</div>

</section>
