
<div class="dark" ng-init="getTrailer()">
	<div ng-show="hasTrailer" class="trailerVideo">
		<div my-youtube code="code"></div>
	</div>
	<!-- if no trailer is available try background image of the movie -->
	<div ng-show="!hasTrailer" class="backdrop_path" style="background: url(http://image.tmdb.org/t/p/w396{{backdrop_path}}) no-repeat center">No trailer available</div>
	
	

</div>



<div class="panel panel-default">

	<div class="panel-heading"><h3>{{title}}</h3></div>
	<div class="panel-body text-justify">{{overview}}</div>
	 <!-- List group -->
	<ul class="list-group text-left">
		<li class="list-group-item">Release date: {{release_date}}</li>
		<li class="list-group-item">Website: <a href="{{website}}" target="blank"> {{website}} </a></li>
	</ul>

</div>
